BASE_URL=insira-a-base-url-aqui
ADMIN_EMAIL=insira-o-email-do-admin-aqui
ADMIN_PASSWORD=insira-a-senha-do-admin-aqui
ALUNO_EMAIL=insira-o-email-do-aluno-aqui
ALUNO_PASSWORD=insira-a-senha-do-aluno-aqui